
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Lobster');

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');



body {
  background-color: #eff2f4;
  margin: 15;
}

h1 {
  font-size: 89px;
  color: #3d6358; 
  font-family: 'Lobster', cursive;
  text-align: center;
  background-color: white;
  margin: 0;  
  padding: 1px 1px 7px 1px;   }

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #263f35;
}

a {
  float: left;
}

a {
  display: block;
  color: white;
  font-family: 'Libre Franklin', sans-serif; 
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;}

about {
  color: navy;
  font-family: 'Libre Franklin', sans-serif;
  padding: 0px 0px 7px 0px;
  text-align: center;
  background: #576172;
  line-height: 12pt;  
  font-size: 30px; 
}

h3 {
   margin: 0px;
   color:  #576172;
   font-family: 'Libre Franklin', sans-serif; 
   position: middle;
   font-size:45px;
   font-weight:bold;
   padding: 10px 10px 10px 10px;

}

h2 {
   margin: 0px;
   color:  #576172;
   font-family: 'Libre Franklin', sans-serif; 
   font-size:30px;
   font-weight:bold;
    padding: 10px 10px 10px 10px;
    
}

p {
  color: #576172;
  font-family: 'Libre Franklin', sans-serif;
   padding: 10px 50px 10px 20px;
   margin:0;
    line-height: 20px;
}

.boxed {
    width: 30%;
    padding: 0;
    color: #576172;
   font-family: 'Libre Franklin', sans-serif;
   padding: 10px 10px 10px 10px;
   margin:0;
   font-size: 21px;

}

.column {
  float: left;
  width: 24%;
  margin: 0;
  padding-left: 8px;
padding-bottom: 8px;
    
}

.column1 {
  float: left;
  width: 33.33%;
  margin: 0;
  padding: 0px;
}

.column2 {
  float: right;
  width: 65%;
  margin: 0;
  padding: 0px;
  padding-top: px;
}

.column3 {
  float: left;
  width: 48%;
  margin: 0;
  padding: 0px;
}

.boxed2 {
    padding: 0;
    color: #576172;
   font-family: 'Libre Franklin', sans-serif;
   padding: 10px 20px 40px 20px;
   margin:0;
   font-size: 25px;
}


    
